<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <div class="top-plank">
      <ul>
        <li><a href="/main">MEET MENTORS</a></li>
        <li><a href="/main">HOW IT WORKS</a></li>
        <li><a href="/main">SUPPORT FIRST RESPONDERS</a></li>

        <%if(isLoggedIn){%>
          <li><a href="/users/user-page">YOUR PAGE</a></li>
        <%}%>

        <%if(!isLoggedIn){%>
          <li><a href="/users/log-in">LOGIN</a></li>
        <%}%>
        <%if(isLoggedIn){%>
          <li><a href="/users/logout">LOGOUT</a></li>
        <%}%>
      </ul>
     
    </div>


</head>

  <body>
  <main>

  