<%- include('./partials/header') %>

<form id="about">
    <img src="/images/about.jpg" id="floated">
    <h1>Welcome to <%= title %></h1>  
    <h3>
       <span>eSitter</span> is an education platform that gathering talented young individuals, inspiring each other in educational entertainment manner.
    </h3>
    <br>
    <a href="/users/all-mentors">MEET MENTORS</a>
    <h2>
        Future artists, scientists and well-educated youth individuals, who are looking forward to use their skills and knowledge and share their success stories and best practices with other children.
    </h2>
    <br>
    <h3>All mentors are properly trained within our Tutor Certificate program.  
        Participation in this non-profit project will help young mentors to open new vision, become true leaders, and obtain a valuable volunteer experience.
    </h3>
    <br>
    <h2>Sure we can entertain and educate!</h2>
    <br>
    <br>
    <br>
    <br>
     </form>


<%- include('./partials/footer') %>