<%- include('./partials/header') %>

<form id="first-responders">
<img src="/images/thank-you.png" id="floated">
    <h1>Welcome to <%= title %></h1>  
    <h3>
        As the COVID-19 emergency evolves and directly impacts first responders across all over the nation, we want to support our first responders and their families so they could focus on important public safety duties. 
    </h3>
    <br>
    <br>
    <h3>
        The service is <span>FREE</span>. However, eSitter might require to verify your service status.  
     </h3>
    <br>
    <h3>
        Please complete a signup process and discover how  eSitter will keep your child busy and entertained. 
        We want to make a contribution to the community during this difficult time.  
        All mentors are properly trained within our Tutor Certificate program.  
        Participation in this non-profit project will help young mentors to open new vision, become true leaders, and obtain a valuable volunteer experience.
    </h3>
    <br>
    <br>
    <h2>Sure we can entertain and educate!</h2>
    <br>
    <br>
    <br>
    <br>
     </form>


<%- include('./partials/footer') %>