<%- include('./partials/header') %>

<div class="main-area">
  <img src="/images/bkid_pc.jpg" id="floated">
   <form id="container">
   <h1>Welcome to <%= title %></h1>  
   <h4>Sure we can entertain and educate!</h4>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <p>What would you like to to learn today? 
    Try our classes listed below</p>
    </form>
</div>

<div class="gallery">
    <div class="gallery_item1">
        <img src="/images/artClass.jpeg" class="gallery_img">
        <br>
        <a href="./classes">Art</a>
    </div>
    <div class="gallery_item2">
        <img src="/images/chess.png" class="gallery_img">
        <br>
        <a href="./classes">Chess</a>
    </div>
    <div class="gallery_item3">
        <img src="/images/music.png" class="gallery_img">
        <br>
        <a href="./classes">Music</a>
    </div>
    <div class="gallery_item4">
        <img src="/images/english.png" class="gallery_img">
        <br>
        <a href="./classes">English as a Second Language</a>
    </div>
    <div class="gallery_item5">
        <img src="/images/coding_boy.jpg" class="gallery_img">
        <br>
        <a href="./classes">Intro to Coding</a>
    </div>
    <div class="gallery_item6">
        <img src="/images/stage-performer.jpg" class="gallery_img">
        <br>
        <a href="./classes">Stage Perfomer</a>
    </div>

</div>

  </body>
</html>

<%- include('./partials/footer') %>
