
<%- include('../partials/header') %>

<form method="post" action="/classes">
    <div class="form-group">
        <label for="topic">Topic:</label>
        <select id="topic" name="topic">
            <option value="ART">ART</option>
            <option value="CHESS">CHESS</option>
            <option value="MUSIC">MUSIC</option>
            <option value="ENGLISH">ENGLISH</option>
            <option value="CODE">INTRO TO CODING</option>
            <option value="STAGE">STAGE PERFOMNACE</option>
        </select>

    </div>
    
    <div class="form-group">
        <label for ="description">Descriptopn:</label>
        <input type="text" id="description" name="description">
    </div>
    
    <div class="form-group">
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" name="startDate">
    </div>
    
    <div class="form-group">
        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" name="endDate">
    </div>
    
    
    <button type="submit">Save Class</button>

</form>

<%- include('../partials/footer') %>

